$white: #fff;
$black: #0D1117;
$blue: #98D0FF;
$pink: #FFC6D7;
$green: #6ED2B7;
$light-beige: #F7F2F2;
$beige: #EDE8E8;
$gray: #f0f2f8;
$color-shadow: rgb(100, 100, 100);

$transition: .3s cubic-bezier(0.25, 0.1, 0.25, 1);

$font-weights: ("black": 900,
        "bold": 700,
        "medium": 500,
        "regular": 400,
        "light": 300, );

$infinite-border-radius: 100000px;
